/* The following block can be included in a custom.scss */
$dark: #343a40;
$light: #f8f9fa;

$body-bg: $dark;
$body-color: $light;

/* make the customizations */
$theme-colors: (
  "dark": $dark,
  "light": $light,
);

/* import bootstrap to set changes */
@import "../../node_modules/bootstrap/scss/bootstrap";
